* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    background-color: blue;
    width: 500px;
    height: 700px;
}

.gameboy {
    background-color: goldenrod;
    width: 300px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.topbuttons {
    background-color: bisque;
    width: 300px;
    height: 30px;
}

.screen {
    background-color: darkgreen;
    width: 270px;
    height: 170px;
}

.display {
    background-color: greenyellow;
    width: 170px;
    height: 150px;
    margin: 10px 50px;
}

.button-container1 {
    background-color: red;
    width: 300px;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}

.arrowkeys {
    background-color: blueviolet;
    width: 50px;
    height: 50px;
}

.redbuttons {
    background-color: brown;
    width: 50px;
    height: 50px;
}

.button-container2 {
    background-color: grey;
    width: 300px;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.left-button {
    background-color: lavender;
    width: 50px;
    height: 20px;
}

.right-button {
    background-color: firebrick;
    width: 50px;
    height: 20px;
}





/* small tablets */
@media (min-width:481px) {
    img {}

}


/* laptops, larger tablets */
@media (min-width:770px) {}

/* desktop */
@media (min-width: 1280px) {}