* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* start code with mobile UI */
nav,
footer {
    background-color: #C4C4C4;
    height: 75px;
}

.header,
.footer {
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 100%;
    width: 100%;
}






/* small tablets */
@media (min-width:481px) {
    img {}

}


/* laptops, larger tablets */
@media (min-width:770px) {}

/* desktop */
@media (min-width: 1280px) {}